table{
  width: 100%;
  border-collapse: collapse;
}

td,th{
  border: 2px solid black;
  padding: 20px;
  /* background-color: aqua; */
  text-align: center;
  font-size: 20px;
  font-family: cursive;
} 

